{% extends "base" %}
{% block posts %}
    <div class="container">
        <h4> Display a new post draft </h4>
        <div class="container" id="draft">
            <p> {{title}} </p>
            <p> {{content}} </p>
            <form action="/" method="get" id="publishpost">
            </form>
            <button type="submit" form="publishpost" value="PublishPost"> Publish </button>
        </div>
    </div>
{% endblock posts %}